<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualProyectoConnectionString"
            connectionString="data source=ManualProyecto.mssql.somee.com;Initial Catalog=ManualProyecto;persist Security info=True;user id=alexuwu_SQLLogin_1;&#xA;            password=jsz55va48s;"
            providerName="System.Data.SqlClient" />
<!--       
 
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualConnectionString"
            connectionString="data source=ManualProyecto.mssql.somee.com;Initial Catalog=ManualProyecto;persist Security info=True;user id=alexuwu_SQLLogin_1;&#xA;            password=jsz55va48s;"
            providerName="System.Data.SqlClient" />
      -->
      <!--
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.ManualProyectoConnectionString1"
            connectionString="Data Source=ManualProyecto.mssql.somee.com;Initial Catalog=ManualProyecto;Persist Security Info=True;User ID=alexuwu_SQLLogin_1;Password=jsz55va48s"
            providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
